<!DOCTYPE html>
<html>
  <head>
    <title>OCR App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="flex justify-between items-center">
          <%= link_to root_path do %>
            <h1>OCR App</h1>
          <% end %>
        </div>
      </div>
    </header>

    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
